
body {
  margin: 0;
  font-family: Arial;
  background-image: url("china.jpg"); 
  background-size: cover;                            
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


header {
  background-color: rgba(167, 42, 42, 0.85);
  color: white;
  text-align: center;
  padding: 30px 0;
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}


nav {
  background-color: rgba(51, 51, 51, 0.85); 
  display: flex;
  justify-content: center;
  padding: 15px 0;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: 0.3s;
}


nav a:hover {
  background-color: #555;
}


main {
  flex: 1;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
}

main h2 {
  color: #b22222;
}

ul {
  padding: 20px;
}


footer {
  background-color: rgba(51, 51, 51, 0.85);
  color: white;
  text-align: center;
  padding: 15px 0;
}
